/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*=============Global styles===============*/

* {
    box-sizing: border-box;
}
body {
    font-size: 50%;
    font-weight: 300;
    color: #232323;
    font-family: 'Roboto Regular', serif;
}
h1 {
    font-family: 'Playfair Display Black', cursive;
    font-weight: 200;
    font-size: 4em;
    color: #373737;
}
h2 {
    font-family: 'Playfair Display Black', cursive;
    font-weight: 500;
    font-size: 2em;
    color: #373737;
}
h3 {
    font-family: 'Roboto Regular', cursive;
    font-weight: 500;
    font-size: 1.778em;
    color: #373737;
}

p {
    font-size: 1em;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    overflow: hidden;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn {
    font-weight: 500;
    font-size: 1.8em;
    color: #ffffff;
    background: #ffbb04;
    padding: 11px 35px;
}
.content {
    background-color: #fff;
    padding: 15px 18px;
}
.content h3 {
    margin-top: 0;
}
.content p {
    margin: 0 0 10px;
    text-align: left;
}
.content ul {
    margin: 0 0 10px;
    text-align: left;
    padding-left: 17px;
}
.content ul.unstyle-list {
    padding-left: 0;
    margin-bottom: 0;
}
/*==============HEADER====================*/

header {
    padding: 13px 0 9px;
    margin: 0 !important;
}
nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6bbcda;
    text-align: center;
    color: #000;
}
nav ul {
    display: table-cell;
    vertical-align: middle;
}
nav a {
    color: #fff;
    font-size: 3.6em;
    line-height: 70px;
    padding: 5px 10px;
}
nav .btn {
    background: #ffbb04;
    font-size: 3.6em;
}
.close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
}
.close span {
    width: 35px;
    height: 2px;
    background: white;
    display: block;
    transform: rotate(45deg);
}
.close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
} 
.header-logo {
    display: inline-block;
    width: 38px;
}
.header-logo img {
    max-width: 100%;
    display: block;
}
.burger {
    width: 41px;
    height: 0px;
    padding-right: 0px;
    float: right;
    margin-top: 2px;
}
.burger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 9px;
}
.burger span:nth-child(1) {
    margin-top: 0;
}
/*============HEADER END==============*/

/*======== HERO ========== */
.hero{
    background-image: url("../img/hero/hero1small.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
}
/*.hero li:nth-child(2),
.hero li:nth-child(3) {
    display: none;
    background-image: url("../img/hero/hero2small.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;    
}*/
.hero li:nth-child(3) {
    background-image: url("../img/hero/hero3small.jpg");
}
.hero h1{
    font-size: 3em;
    color: #fff;
    padding-top: 45px;
}
.hero p{
    font-size: 1.5em;
    color: #fff;
    margin: 0px 0px 14px 0px;

}
.hero p span {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
.hero p span:before {
    content: '';
    display: block;
    width: 27px;
    left: 218px;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid white;  
}
.hero p span:after {
    content: '';
    display: block;
    width: 27px;
    right: 218px;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid white;  
}
.hero a.btn{
    font-weight: 500;
    font-size: 1.8em;
    background: #ffbb04;
    padding: 11px 31px;
    margin: 0px auto;
    display: block;
    width: 140px;
}
/*======== HERO ==========*/ 

/* ======== APARTMENTS ========== */

.apartments{
    background: #eaeaea;
    padding-top: 3px; 
}
.apartments .head-title {
    max-width: 551px;
    margin: 0 auto;
}
.apartments h2 {
    font-size: 2em;
    font-weight: 400;
    color: #373737;
}
.apartments h3 {
    font-size: 1.7em;
    color: #84c6df;
    font-weight: 100;
    padding-bottom: 5px;
    display: inline-block;
    max-width: 1100px;
}
.apartments h4 {
    font-size: 1.3em;
    color: #373737;
    font-weight: 200;
    padding: 0 20px;
}  
.apartment{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.img {
    position:relative;
}
.img p{
    position: absolute;
    text-decoration: underline;
    float:right;
    bottom: 0px;
    right: 5px;
}
.img p:hover {
    color: #84c6df;
    cursor: pointer;
}
.content ul.amenities {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.amenities li {
    margin: 0 0 10px;
    padding: 3px 0px 2px 11px;
    width: 45%;
    border-style: solid;
    border-color: #e7e7e7;
    border-width: 1px;
}
.amenities li img{
    padding-right: 3px;
}
.amenities li:nth-child(odd){
    margin-right: 11px;
}
.amenities li:nth-child(even){
    margin-left: 11px;
}
/* ======== APARTMENTS ========== */

/* ======== PRICES ========== */

.prices .head-title {
    text-align: center;
    margin: 0 auto;
}
.prices{
     padding-top: 3px; 
}
.prices h2 {
    font-size: 2em;
    font-weight: 400;
    position: relative;
    color: #373737;
    padding: 0 15px;
    overflow: hidden;
}
.prices ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.prices li {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 80px;
    border-right: 1px solid #e3e1e1;
    border-bottom: 1px solid #e3e1e1;
}
.prices li:last-child,
.prices li:nth-child(3){
    padding-right: 0;
    border-right: none;
}
.prices li:nth-child(4),
.prices li:nth-child(5),
.prices li:last-child {
    border-bottom: none;
}
.prices li p {
   font-weight: 100;
   font-size: 1.7em;
}


/* ======== PRICES ========== */

/* ======== LOCATION ========== */
.location .head-title {
    margin: 0 auto;
}
.location {
    background-image: url("../img/O9FG4R0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.location h2 {
    font-size: 2em;
    font-weight: 400;
    position: relative;
    color: #373737;
    padding: 0px 5px 15px 5px;
    overflow: hidden;
    margin-top: 0;
}
.location h3 {
    color: #84c6df;
    text-align: left;
    font-weight: 100;
}
.location p {
    font-size: 1.2em;
}
.location small{
    font-size: 0.9em;
    text-align: left;
    padding: 0;
    margin: 0;
}
.mapouter{
    position:relative;
    text-align:right;
    height:380px;
    width:471px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:400px;
    width:471px;   
}

/* ======== LOCATION ========== */

/* ======== ABOUT ========== */

.about-Karin{
    margin-top: 0;
    padding-top: 0;
}
.about-Karin h2 {
    margin: 0;
    padding: 20px 0px 0px;
    font-size: 2em;
    font-weight: 400;
    color: #373737;
}
.about-Karin h3 {
    color: #84c6df;
    text-align: left;
    font-weight: 100;
    padding: 0px 20px; 
    margin-bottom: 9px;
}
.about-Karin p {
    font-size: 1.2em;
    text-align: left;  
    padding-bottom: 5px; 
}
.about-Karin .container {
    padding: 0px 30px 5px;
}
/* ======== ABOUT ========== */

/* ======== FOOTER ========== */

.footer {
    padding: 15px 0;
    background-color: #3b3b3b;
    text-align: center;
}
.footer-logo{
    width: 38px;
    display: block;
}
.footer-logo img{
    max-width: 100%;
    float: left;
    position: relative;
}
.footer-logo p {
    position: absolute;
    padding-top: 32px;
}
.footer li p {
    font-size:1em;
    float:right;
    padding: 10px 20px 0px 0px;
    color: #fff;
}
.footer li a:hover {
    color: #ca3f3f;
}
/*
.logo-wrap {
    float:left;
    display: block;
    max-width:100%;
}
.logo-wrap p {
    display: block;
    padding-top: 10px;
}
*/
/* ======== FOOTER ========== */

/* ======== Modal  ========== */
.modal {
    display: none;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
}
.modal.open {
    display: block;
}
.modal-wrap {
    max-width: 870px;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow-y: auto;
}
.modal-wrap > * {
    display: inline-block;
}
.modal-wrap .close span {
    background-color: #d6d6d6;
}
.modal-wrap h3 {
    font-family: 'Playfair Display Black', cursive;
    font-size: 3em;
    width: 100%;
}
.modal-inner {
    max-width: 520px;
    margin: 0 auto;
}
legend {
    text-align: left;
    font-size: 1.8em;
    padding-bottom: 30px;
    font-family: 'Roboto Regular', cursive; 
}
input {
    border: 1px solid #d6d6d6;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 20px;
    font-size: 1.6em;
}
.radio-box-div{
    display: block;
    position: relative;
    padding: 0px 325px 0px 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.6em;  
}
.invisible-radio{           /* Hide the built in radio button */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {                /* Create a custom radio button */
   position: absolute;
   top: 2px;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #eee;
   border-radius: 50%;
}
.radio-box-div:hover input ~ .checkmark {       /* On mouse-over, add a grey background color */
  background-color: #ccc;
}
.radio-box-div input:checked ~ .checkmark {     /* When the radio button is checked, add a blue background */
  background-color: #84c6df;
}
.checkmark:after {       /* Create the indicator (the dot/circle - hidden when not checked) */
  content: "";
  position: absolute;
  display: none;
}
.radio-box-div input:checked ~ .checkmark:after {   /* Show the indicator (dot/circle) when checked */
  display: block;
}
.radio-box-div .checkmark:after {   /* Style the indicator (dot/circle) */
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
}
input::placeholder {
  color: #d6d6d6;
  font-size: 16px;
  font-style: italic;
}
input:focus {
    outline: none;
    border-color: #84c6df;
}
.date-div {
    display: flex;
    justify-content: space-between;
}
.date {
    width: 48%;
    font-size: 1em;
}
input.btn {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding: 13px 15px;
}
 input[type="date"]:before,
 input[type="time"]:before {
    content: attr(placeholder) !important;
    color: #d6d6d6;
    font-style: italic;
    margin-right: 0.5em;
  }
  /* ======== Modal END ========== */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/***********TABLET***********/
@media only screen and (min-width: 768px) {
    body{
        font-size: 60%;
    }
    h2:not(.container) { /*all h2 tags get their size increased*/
        font-size: 2.5em;
    }
    .container h3{
        font-size: 2.2em;
    }
    p{
        font-size: 1.2em;
    }
    .container .left {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding-right: 10px;
    }
    .container .right {
        float: right;
        width: 50%;
        box-sizing: border-box;
        padding-left: 10px;
    }
    .about-Karin .container {
        padding-bottom: 20px;
    }
    .content {
        padding: 15px 30px;
    }
    .content li {
        font-size: 1.2em;
    }
/* ======== HEADER ========== */
    header {
    padding:0;
    }
    .header-logo{
        padding-top: 12px;
        width:46px;
    }
    nav {
        display: block;
        position: initial;
        width: auto;
        height: auto;
        background: inherit;
        float: right;
    }
    nav li {
        float: left;
        font-size: 0.8em;
    }
    nav a {
        color: #000;
        margin-left: 20px;
    }
    nav a:not(.btn).active,
    nav a:not(.btn):hover {
        color: #6bbcda;
    }
    nav a,
    nav a.btn {
        font-size: 1.5em;
    }
    nav a.btn {
        color: #000;
        background: #ffbb04;
    }
    .burger,
    nav .close {
        display: none;
    }
/* ======== HEADER END========== */

/* ======== HERO ========== */
.hero{
    height: 400px;
    background-image: url("../img/hero/hero1tablet.jpg");
}
.hero h1{
    padding-top: 100px;
    font-size: 4em;
}
.hero p{
    font-size: 2em;
    padding-bottom: 20px;
}
.hero p span:before {
    width: 45px;
    left: 345px;
}
.hero p span:after {
    width: 45px;
    right: 345px;
}
.hero a.btn {
    width: 160px;
}

/* ======== HERO END========== */

/* ======== APARTMENTS ========== */

.apartments h2 {
    font-size: 2.5em;
}
.apartments h4 {
    font-size: 1.5em;
}
.img p {
    font-size: 1.5em;
}
.apartment {
    flex-direction: row;
}
#apartment-two {
    flex-direction: row-reverse;
}
.img,
.content {
    flex: 1;
}
.img img {
    height: 100%;
}
/* ======== APARTMENTS END========== */

/* ======== PRICE ========== */

.prices ul {
    padding: 0px 20px 65px;
}
.prices li {
    width: 16%;
    height: 65px;
    border-right: 1px solid #e3e1e1;
}
.prices li:last-child,
{
    border-right: none;
}
.prices li:nth-child(3){
    border-right: 1px solid #e3e1e1;
}
.prices li:nth-child(4),
.prices li:nth-child(5),
.prices li:last-child {
    border-bottom: 1px solid #e3e1e1;
}
/* ======== PRICE END========== */

/* ======== LOCATION ========== */ 
.location .container{
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
}
.location .content{
    flex: 1;
    padding: 0 35px;
}
.location .mapouter{
    flex: 1;
}
.location p {
    font-size: 1.5em;
}
.location small{
    font-size: 0.9em;
    text-align: left;
    padding: 0;
    margin: 0;
}
.location h3 {
    padding-top: 30px;
}
/* ======== LOCATION END========== */

/* ======== ABOUT ========== */
.about-Karin h3 {
    font-size: 2.2em;
    padding-left: 40px;
}
.about-Karin p {
    font-size: 1.7em;
}
.left p,
.right p{
    padding: 20px 20px;
} 
/* ======== ABOUT END========== */

/* ======== FOOTER ========== */

/* ======== FOOTER END========== */

}

/***********TABLET***********/


/***********LAPTOP 1024***********/
@media only screen and (min-width: 1024px) {
    
    section {
    padding-top: 50px;
    padding-bottom: 50px;
    }
    body{
        font-size: 80%;
    }
    /* ======== HEADER ========== */
    header {
        padding: 0 ;
    }
    nav {
        display: block;
        position: initial;
        width: auto;
        height: auto;
        background: inherit;
        float: right;
    }
    nav li {
        float: left;
    }
    nav a {
        color: #000;
        margin-left: 40px;
    }
    nav a:not(.btn).active,
    nav a:not(.btn):hover {
        color: #6bbcda;
    }
    nav a,
    nav a.btn {
        font-size: 1.5em;
    }
    nav a.btn {
        color: #000;
        background: #ffbb04;
    }
    .burger,
    nav .close {
        display: none;
    }
    /* ======== HEADER END ========== */

/* ======== HERO ========== */
    .hero{
        height: 500px;
        background-image: url("../img/hero/hero1.jpg");
    }
    .hero h1{
        padding-top: 50px;
    }
    .hero p{
        padding-bottom: 30px;
    }
    .hero p span:before {
        width: 55px;
        left: 460px;
    }
    .hero p span:after {
        width: 55px;
        right: 460px;
    }
    .hero a.btn {
        width: 200px;
        padding: 
    }
/* ======== HERO END========== */

/* ======== APARTMENTS ========== */
    
    .apartment{
        margin: 48px 0px 18px;
        padding: 0px 56px;
    }
    .apartment img {
        position: relative;
    }
    .apartment img::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.44);
        background-image: url(../img/zoom-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        opacity: 0;
        transition: opacity .3s ease-in;
    }
    .aparment img:hover::after {
        opacity: 1;
        transition: opacity .3s ease-out;   
    }
}


/* ======== APARTMENTS END========== */

/* ======== PRICES ========== */

    .prices ul {
        padding: 0px 40px 65px;
    }

/* ======== PRICES END========== */

/* ======== LOCATION ========== */

    .location {
        background-position: 0px -210px; 
    }
    .location .container {
        width: 100%;
        padding: 0px 105px;
        justify-content: center;
    }

/* ======== LOCATION END========== */

/* ======== ABOUT ========== */

/* ======== ABOUT END========== */

/* ======== FOOTER ========== */

    .footer-logo p {
    position: absolute;
    padding-top: 20px;
}

/* ======== FOOTER END========== */


    /***********LAPTOP***********/
}
    /***********PC***********/
@media only screen and (min-width: 1300px) {
    
    /* ======== LOCATION ========== */
        
    .gmap_canvas {
    width: 520px;
    }

    /* ======== LOCATION ========== */
}
    /***********PC***********/
/* ==========================================================================
   Helper classes
   ========================================================================== */

.unstyle-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-center {
    text-align: center;
}

.img img {
    width: 100%;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

button {
    background: transparent;
    border: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
